/*===General===*/
*{
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}
body{
    background-color: #0f0f0f;
    color: #fff;
    font-family: Arial;
    font-size: 12px;
}
button {
    color: #fff;
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

p{
    color: #4d4e52;
}
/*===encabezado===*/
.encabezado {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.btn {
    background-color: #0f0f0f;
    border: none;
    padding: 8px;
    border-radius: 20px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    flex: 1;

}

.buscador{
    flex: 2;

}
.right {
    flex: 1;
    justify-content: end;
}
.btn:hover {
    background-color: #303134;
}

.crear {
    background-color: #303134;
    padding-right: 15px;
}

.crear:hover {
    background-color: #4d4e52;
}

/*==buscador==*/

.buscar {
    background-color: #0f0f0f;
    border-style: solid;
    border-color: #303134;
    height: 35px;
}

.escribir {
    flex: 10;
    padding-left: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #fff;
}

.btn-buscar {
    padding: 5px;
    height: 39px;
    margin: -2px;
    flex: 1;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-micro {
    padding: 5px;
    height: 39px;
    width: 39px;
    margin-left: 20px;
    border-radius: 20px;
}
/*=img=*/

.logo{
    width: 90px;
    height: 30px;
    margin-left: 5px;
}

.icon {
    height: 20px;
    width: 20px;
}

.perfil {
    height: 35px;
    border-radius: 45px;
}

.icon-menu {
    height: 25px;
    width: 25px;
    margin-right: 20px;
}

.portada {
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.portada:hover {
    border-radius: 0px;
}

.vid {
    margin-right: 10px;
}
/*===Cuerpo===*/
.cuerpo {
    display: flex;
}

.menu {
    flex: 2;
    height: 100%;
    padding: 10px;
    flex-wrap: wrap;
}

#videos {
    flex: 11; 
    margin-left: 10px;
}

/*==Menu==*/
.btn-menu {
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    display: flex;
    border-style: none;
    border-radius: 10px;
    background-color: #0f0f0f;
    align-items: center;
}

.btn-menu:hover {
    background-color: #303134;
}



#seccion {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-color: #4d4e52;
}
.s2 {
    margin-top: 20px;
}

/*==Categorias==*/
.categorias {
    display: flex;
}

.categoria {
    background-color: #303134;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-style: none;
}

/*===Videos===*/
.videos{
    display: flex;
    flex-wrap: wrap;
    min-height: 10vh;
    height: 79vh;
    overflow-y: scroll;
    scrollbar-color: #707070 #0f0f0f ;
}

.video {
    height: auto;
    min-width: 350px;
    width: 400px;
    padding: 7px;
    flex: 1;
    cursor: default;
}

/*=info=*/

.info {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

